$primary-col: #03a9f4;
$red-col: #ff2022;
$white-col: #ffffff;
$black-col: #333333;
$darker-col: #faf6f6;
$todo-box-col: rgba(0, 0, 0, 0.16);
$btn-shadow-col:rgba(0, 0, 0, 0.225);
$btn-disabled-bg-col: #cdcdcd;
$btn-disabled-col: #9e9e9e;